.some-text {
  border: 1px solid red;
  
  
}

.flex {
  height: 200px;
  display: flex;
  
  float: left;
  gap: 10px;
  }
.test {
  width: 33%;
  float: left;
  border: solid 1px #ffd877;
  
}

.test > img {
  width: 100%;
  height: 50%;
  float: left;
  
}
.nav-bar {
  text-align: center;
}

#pic2 {
   background-image: linear-gradient(rgba(233, 101, 101, 1)
}